html, body{
	height: 100%;
	overflow-x: hidden;
}


body {
    background-color: #f5f8f8;
    font-family: HelveticaNeueReg;
}



* {
    box-sizing: border-box;
}

text:hover {
    cursor: pointer;
}