<!DOCTYPE html>
<html dir="rtl" lang="ar">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <title>Sky News Arabia Academy</title>
        <link rel="stylesheet" type="text/css" href="../../css/{{pageCss}}"></link>
    </head>

    <body>
        {% include "components/ar/header.html" %}
        {{ content | safe }}
        {% include "components/ar/header.html" %}

    </body>

</html>
